<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73190196872-bsk0mnvv8lj22k2iarajvla7mdudbtd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73190196872-bsk0mnvv8lj22k2iarajvla7mdudbtd2</string>
	<key>API_KEY</key>
	<string>AIzaSyA8ai6bJA5gxqr0UV_k6mKX6kIVJ4QOck8</string>
	<key>GCM_SENDER_ID</key>
	<string>73190196872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>meditrack-2b228</string>
	<key>STORAGE_BUCKET</key>
	<string>meditrack-2b228.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73190196872:ios:b2cfe3f81484d60dde013d</string>
</dict>
</plist>